
##########
## Rust ##
##########

Cargo.lock
**/*.rs.bk
wasm-pack.log
target/
pkg/

############
## System ##
############

.DS_Store

######################
## Tooling Specific ##
######################

.idea/
.vscode/
*.swp
.projections.json
